.row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.cards-container {
  margin-top: -120px;
}

.tableau-pile .card {
  margin-top: -80px;
}

.card-group {
  touch-action: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .tableau-pile .card {
    margin-top: -75px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  .cards-container {
    margin-top: -110px;
  }
}

@media only screen and (max-width: 640px) {
  .tableau-pile .card {
    margin-top: -70px;
  }

  .cards-container {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 560px) {
  .tableau-pile .card {
    margin-top: -65px;
  }

  .cards-container {
    margin-top: -90px;
  }
}

@media only screen and (max-width: 480px) {
  .tableau-pile .card {
    margin-top: -60px;
  }

  .row {
    padding-left: 2px;
    padding-right: 2px;
  }

  .cards-container {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 400px) {
  .tableau-pile .card {
    margin-top: -50px;
  }

  .cards-container {
    margin-top: -70px;
  }
}

@media only screen and (max-width: 320px) {
  .cards-container {
    margin-top: -70px;
  }
}
