.pile {
  width: 12%;
}

.pile.empty {
  background-color: rgb(2, 108, 23);
  height: 120px;
  border-radius: 8px;
}

.pile.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .pile {
    width: 85px;
  }

  .pile.empty {
    height: 110px;
  }
}

@media only screen and (max-width: 640px) {
  .pile {
    width: 75px;
  }

  .pile.empty {
    height: 100px;
  }
}

@media only screen and (max-width: 560px) {
  .pile {
    width: 65px;
  }

  .pile.empty {
    height: 90px;
  }
}

@media only screen and (max-width: 480px) {
  .pile {
    width: 55px;
  }

  .pile.empty {
    height: 80px;
  }
}

@media only screen and (max-width: 400px) {
  .pile {
    width: 48px;
  }

  .pile.empty {
    height: 70px;
  }
}

@media only screen and (max-width: 320px) {
  .pile {
    width: 44px;
  }

  .pile.empty {
    height: 65px;
  }
}