.row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.card-group,
.waste-card {
  touch-action: none;
}

.tableau-pile {
  margin-top: 80px;
}
.tableau-pile .card {
  margin-top: -80px;
}

.foundation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foundation-icon {
  height: 60px;
  width: 60px;
  opacity: 0.8;
}
